/* 文章中代码块的最大高度 */
figure.highlight{

    max-height:700px;

}

::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .5);
    border:1px solid black;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, .8);

}
.footer-left{
    float:right;
    text-shadow:none;
    color:#fff;    
}
.footer-left a{
    color:#fff;
    text-shadow:none;
    float:right;
}
.timeDateBox{
    float: right;
}
#times,
#timeDate{
    text-shadow:none;
    color:#fff;
    font-size:16px;
    font-weight:700;
    float:right;
    margin-right:20px;
}
#times{
    margin-top: 1px;
}
.scar-dialog{
    top:40px;
    /* display: block; */
}
.scar-changeModal{
    top:70px;
    /* display: block; */
}
.scar-dialog-input{
    position: absolute;
    top: 0;
    right: -350px;
    width: 300px;
    height: 30px;
    border-radius:30px;
    outline:none;
    border:none;
    text-indent:1em;
    box-shadow: 0 3px 15px 2px rgba(0,0,0,.4);
    display: none;
}



